@import '_variables';
h1 {
    color: $red-color;
}

//icon
.trash-bin{
    fill: red;
    font-size: 1.2rem;
    opacity: 0.7;
}
.trash-bin:hover{
    opacity: 1;
}
.back-icon{
    fill: red;
    font-size: 1.2rem;

}


.card-text{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.user-avatar{
    height: 28px;
    width: 28px;
    margin-right: 4px;
    border-radius: 50%;
}

.checkbox-select-all-options{
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
}