@import '_variables';
h1 {
    color: $red-color;
}
.card-text{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.user-avatar{
    height: 28px;
    width: 28px;
    margin-right: 4px;
    border-radius: 50%;
}